.file-dropper {
  display: flex;
  position: relative;
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  justify-content: center;
  color: #ccc;
  margin: 20px 0;
  cursor: pointer;
}

.file-dropper input {
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
}

.file-dropper:hover {
  border-color: #999;
}

.file-dropper.active {
  border-color: #000;
}

.file-dropper.active:hover {
  border-color: #000;
}

.submit-button {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
